* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
}
header{
    background-color: #03062F;
    padding: 28px 0;
}
.spotlight-section{
    background-image: linear-gradient(to bottom, #03062F 0%, #180B74 100%);
    position: relative;
    overflow: hidden;
}
.slanted-section {
    position: absolute;
    bottom: -100px;
    left: -13px;
    transform: rotate(5deg);
    width: 100%;
    height: 200px;
    background-color: #f1f5f9;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 0 100%);
}
.slanted-section-right{
    position: absolute;
    bottom: -224px;
    right: -34px;
    transform: rotate(170deg);
    width: 100%;
    height: 200px;
    background-color: #f1f5f9;
    clip-path: polygon(0 0, 100% 0, 87% 43%, 0 100%);
}
.spotlight-section-inner{
    padding-top: 24px;
    padding-bottom: 200px;
    position: relative;
    overflow: hidden;
}
/*slider*/
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.slide {
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slide:not(:first-child) {
    display: none;
}
.slider-dots-container {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 20px;
    bottom: 90px;
    right: 90px;
}
.slider-dot {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.slider-dot.active {
    background-color: #fff;
}
/*slider code ends*/
.spotlight-content-block{
    max-width: 420px;
}
.spotlight-content-block h2{
    font-size: 40px;
    font-weight: 600;
    line-height: 53px;
    color: #FFFFFF;
}
.spotlight-content-block p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    line-height: 28px;
    padding: 24px 0 32px 0;
}
.signup-button,.form-row button {
    background-color: #2783F3;
    padding: 12px 20px;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: capitalize;
}
.signup-button:hover,.form-row button:hover {
    background-color: #1d6cb2;
}
.contact-us-section{
 padding: 100px 0;
 background-color: #f1f5f9;
 position: relative;
}
.contact-img-block img{
    position: absolute;
    top: -122px;
}
.contact-form {
    max-width: 768px;
    margin: 0 auto;
    padding: 64px;
    border-radius: 8px;
    background-color: #FFFFFF;
    text-align: center;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}
.contact-form h2 {
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}
.contact-form p {
    margin-bottom: 48px;
    color: #03062FB2;
    opacity: 0.7;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}
.form-row {
    margin-bottom: 24px;
}
.form-flex{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.form-row label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    color: #03062F;
}
.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="tel"],
.form-row select,
.form-row textarea {
    width: 100%;
    padding: 8px;
    height: 48px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.form-row textarea {
    height: 180px;
}
.form-row .half {
    width: 48%;
}
.form-row select {
    width: 100%;
}

/*media query for small devices*/
@media screen and (max-width: 768px) {
    .spotlight-content-block h2{
        font-size: 22px;
        line-height: 1.2;
    }
    .spotlight-content-block p{
        font-size: 14px;
        line-height: 1.2;
    }
    .slide img{
        width: 70%;
    }
    .contact-form{
        padding: 24px;
    }
    .contact-form h2{
        font-size: 30px;
        line-height: 1.2;
    }
    .contact-form p{
        font-size: 16px;
        line-height: 1.2;
        margin-bottom: 30px;
    }
    .form-flex{
        flex-direction: column;
    }
    .form-row .half {
        width: 100%;
    }
    .contact-us-section{
        padding-top: 200px;
    }
    .slider-dots-container{
        bottom: 10%;
    }
}
@media screen and (max-width: 991px){
    .slide{
        flex-direction: column;
    }
    .spotlight-img-block{
        margin-top: 60px;
    }
    .slider-dots-container{
        left: 50%;
        bottom: 10%;
        transform: translate(-50%, -50%);
    }
    .contact-img-block img{
        top: 0;
    }
    .slanted-section-right{
        display: none;
    }
    .slanted-section{
        bottom: -158px;
        left: -31px;
        transform: rotate(14deg);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) { 
    .slanted-section{
        clip-path: polygon(0 0, 129% 9%, 99% 91%, -3% 106%);
        bottom: -100px;
        left: -26px;
        transform: rotate(10deg);
    }
    .slanted-section-right{
        display: none;
    }
}
@media screen and (min-width: 1201px) and (max-width: 1300px) { 
    .slanted-section-right{
        bottom: -224px;
        right: -34px;
        transform: rotate(168deg);
        clip-path: polygon(0 0, 100% 0, 87% 43%, 0 100%);
    }
}